.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1vh;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;
  text-transform: uppercase;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu li a {
  text-decoration: none;
  color: white;
}
